<div>
	<div class="wrapper">
		<div class="col-md-12">
		

		<table class="table table-striped">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="employee in employees">
				<tr>
					<td>
						<img ng-src="images/employees/{{employee.imageSource}}"/>
					</td>
					<td>{{employee.firstName}} {{employee.lastName}}</td>
					<td>{{employee.remarks}}</td>
					<th>
						<a ng-show="employee.employeeId" ng-click='viewDetails(employee.employeeId)' class="btn btn-success" >Details</a>
					</th>
				</tr>
			</tbody>
		</table>
		</div>	
	</div>
</div>
