<h1>customers details</h1>
<div>{{customer.firstName}} {{customer.lastName}}</div>


		<div class="row about-my-goals margin-bottom-20">
            <div class="col-md-6 md-margin-bottom-20">    
                <h2 class="heading-md">Next <span class="color-green">appointments</span></h2>
                <li ng-repeat='appointment in customer.appointments'>
                        {{appointment.employeeFirstName}} {{appointment.employeeLastName}}
                        
                            {{appointment.appointmentStartTime | date:'MM/dd/yyyy @ h:mma'}}
                </li>
                <a ui-sref='customers.list'>Back</a>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6 info-blocks">
                        <p>{{customer.remarks}}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div class="row">
                    <div class="col-sm-6 info-blocks">
                        <p>{{customer.phoneNumber}}</p>
                        Alternate Phone: {{customer.alternatePhoneNumber}}
                    </div>
                    <div class="col-sm-6 info-blocks">
                        <p>{{customer.email}}</p>
                    </div>
                </div>

            </div>
        </div> 