<div class="ng-scope">
	<div class="wrapper">
		<div class="col-md-12">
		<button class="btn btn-success" ng-click="populateCustomers()">Populate Customers</button>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone number</th>
					<th>Remarks</th>					
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="customer in customers">
				<tr>
					<td>{{customer.firstName}} {{customer.lastName}}</td>
					<td>{{customer.phoneNumber | tel}}</td>
					<td>{{customer.remarks}}</td>
					<td>
						<a href="#customers" class="btn btn-success" >Details</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>	
	</div>
</div>

