<div>
	<div class="wrapper">
	<a ui-sref='app.populateEmployeeSchedules'>Populate Employee Schedules</a>
		<div class="col-md-12">

		<div>Employee Schedule List
			<table class="table table-striped">
			<thead>
				<tr>
					<th>Employee Name</th>
					<th>Shift Date</th>
					<th>Shift duration</th>					
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="schedule in employeeSchedules">
				<tr>
					<td>{{schedule.employeeFirstName}} {{schedule.employeeLastName}}</td>
					<td>{{schedule.timeSlotStart}}</td>
					<td>{{schedule.timeSlotDuration}}</td>
					<td>
						<a ng-click="viewDetails(schedule.employeeScheduleId)" class="btn btn-success" >Details</a>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		</div>	
	</div>
</div>
