 
<h3>Customer details
   <small>Click on the link to edit details</small>
</h3>

<a ui-sref='app.customers.list'>Back</a><br/><br/>
<div class="row">
   <div class="col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading"></div>
         <div class="panel-body">
            <div class="form-horizontal">
               <div class="form-group m0">
                  <label class="col-sm-4 control-label">First Name:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" e-required editable-text="customer.firstName" e-step="5" onaftersave="updateCustomer()">{{ customer.firstName || &apos;empty&apos; }}</a>
                     </p>
                  </div>
               </div>
               <div class="form-group m0">
                  <label class="col-sm-4 control-label">Last Name:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" e-required editable-text="customer.lastName" onaftersave="updateCustomer()">{{ customer.lastName || &apos;empty&apos; }}</a>
                     </p>
                  </div>
               </div>
               <div class="form-group m0">
                  <label class="col-sm-4 control-label">Email:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" editable-email="customer.email" onaftersave="updateCustomer()">{{ customer.email || &apos;empty&apos; }}</a>
                     </p>
                  </div>
               </div>
               <div class="form-group m0">
                  <label class="col-sm-4 control-label">Phone:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" editable-tel="customer.phoneNumber" e-required onaftersave="updateCustomer()">{{ customer.phoneNumber || &apos;empty&apos; }}</a>
                     </p>
                  </div>
               </div>
               <div class="form-group m0">
                  <label class="col-sm-4 control-label">Alternate phone:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" editable-tel="customer.alternatePhoneNumber" onaftersave="updateCustomer()">{{ customer.alternatePhoneNumber || &apos;empty&apos; }}</a>
                     </p>
                  </div>
               </div>
               <div class="form-group m0">
                  <label class="col-sm-4 control-label">Gender:</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" editable-select="customer.gender"  e-ng-options="s.value as s.text for s in genders" onaftersave="updateCustomer">
                         {{customer.gender}}
                     </a>
                     </p>
                  </div>
               </div>

              


               <div class="form-group m0">
                  <label class="col-sm-4 control-label">Remarks</label>
                  <div class="col-sm-8">
                     <p class="form-control-static"><a href="#" editable-textarea="customer.remarks" e-rows="10" e-cols="30" onaftersave="updateCustomer()">{{ customer.remarks|| 'no description' }}    </a>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a ui-sref='app.customers.list'>Back</a>

   </div>

   <div class="col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">Appointments</div>
         <div style="float:right;margin-right:30px;margin-top:-30px;">
         <button class="btn btn-oval btn-success" ng-click='addAppointment()'>Add new appointment</button></div>
   <!-- START table-responsive-->
   <div class="table-responsive">      
      <table id="table-ext-1" class="table table-bordered table-hover">
         <thead>
            <tr>
               <th>Employee Requested</th>
               <th>Appointment Time</th>
               <th>Service Name</th>
               <th>Employee</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="appointment in customer.appointments">
               <td ng-if='appointment.isEmployeeRequested==true'>Yes</td>
               <td ng-if='appointment.isEmployeeRequested==false'>No</td>
               <td>{{appointment.appointmentStartTime | date:'MMM-dd-yyyy @ h:mma EEE'}}</td>
               <td>{{appointment.serviceName}}</td>
               <td>{{appointment.employeeFirstName}} {{appointment.employeeLastName}}</td>
            </tr>
            
         </tbody>
      </table>
   </div>
   <!-- END table-responsive-->
   
</div>
      </div>
   </div>
</div>
<br/>
<button type="submit" class="btn btn-oval btn-danger" ng-click="deleteCustomer(customer.customerId)">Delete Customer</button>

<script type="text/ng-template" id="modalDialogId">
      <div class="ngdialog-message"><h3>Delete this customer?</h3><p><code>Please note</code> that this will permanently remove this customer from the database.<br/><br/><button type="button" ng-click="confirm(confirmValue)" class="btn btn-danger btn-oval mr">Delete</button><button type="button" ng-click="closeThisDialog('button')" class="btn btn-oval btn-default">Cancel</button></div>
</script>