<!DOCTYPE html>
<html lang="en" data-ng-app="desktopApp">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="::pageTitle()">Salon application</title>
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled}">
   <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
        <script src="vendor/angular-xeditable/dist/js/xeditable.js"></script>
        <script src="app/js/base.js"></script>    
        <script src="app/js/app.js"></script>
        <script src="app/js/controllers/appointments/appointments.js"></script>
        <script src="app/js/controllers/appointments/appointmentsList.js"></script>
        <script src="app/js/controllers/appointments/appointmentsDetails.js"></script>
        <script src="app/js/controllers/customers/customers.js"></script>
        <script src="app/js/controllers/customers/customersDetails.js"></script>
        <script src="app/js/controllers/customers/customersList.js"></script>
        <script src="app/js/controllers/employees/employees.js"></script>
        <script src="app/js/controllers/employees/employeesDetails.js"></script>
        <script src="app/js/controllers/employees/employeesList.js"></script>
        <script src="app/js/controllers/services/services.js"></script>
        <script src="app/js/controllers/services/servicesList.js"></script>
        <script src="app/js/controllers/services/servicesDetails.js"></script>
        <script src="app/js/controllers/employeesSchedule/employeesSchedule.js"></script>
        <script src="app/js/controllers/employeesSchedule/employeesScheduleList.js"></script>
        <script src="app/js/controllers/employeesSchedule/employeesScheduleDetails.js"></script>
        <script src="app/js/controllers/employeesSchedule/populateEmployeeSchedules.js"></script>
        <script src="app/js/controllers/employeesManagement/employeesManagement.js"></script>
        <script src="app/js/controllers/reports/reports.js"></script>
        <script src="app/js/controllers/reports/reportsDetails.js"></script>
        <script src="app/js/controllers/reports/reportsList.js"></script>
        <script src="app/js/services/customerDataFactory.js"></script>
        <script src="app/js/services/employeeDataFactory.js"></script>
        <script src="app/js/services/employeeScheduleDataFactory.js"></script>
        <script src="app/js/services/appointmentDataFactory.js"></script>
        <script src="app/js/services/serviceDataFactory.js"></script>
        <script src="app/js/services/modalService.js"></script>
        <script src="app/js/services/apiHttpInterceptor.js"></script>
        <script src="app/js/filters/phoneNumber.js"></script>
</body>

</html>